.open-sans-normal {
    font-family: "Open Sans", serif;
    font-optical-sizing: auto;
    font-style: normal;
    font-variation-settings:
        "wdth" 100;
}

/* common styles */

.text-primary {
    color: #FD6E0A;
}

.dark-1 {
    color: #181818;
}

.dark-2 {
    color: #474747;
}

.dark-3 {
    color: #757575;
}

.btn-primary {
    background-color: #FD6E0A;
    font-weight: bold;
    font-size: 20px;
    color: white;
    border: none;
    padding: 18px 35px;
    border-radius: 5px;
}


/* individual styles */

nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0 100px;
}

nav ul {
    display: flex;
    align-items: center;
}

.nav-title {
    font-weight: 800;
    font-size: 45px;
}

nav ul li {
    text-decoration: none;
    list-style: none;
    margin-right: 50px;
}

nav ul li a {
    text-decoration: none;
    font-size: 20px;
}
.banner{
    display: flex;
    justify-content: space-between;
    margin-left: 230px;
}
.banner-content{
    max-width: 585px;
}
.banner-greetings {
    font-size: 35px;
    font-weight: 600;
}

.banner-name {
    font-size: 85px;
    font-weight: 800;
}

.banner-content-description {
    font-size: 18px;
}

.banner-pic {
    width: 584px;
}